@import "~@bravobit/scss-starter/src/all.scss";

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

img {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}
